__pycache__/
*.pyc
.venv/
.DS_Store
third_party/ChampSim/build/
third_party/ChampSim/vcpkg/
third_party/ChampSim/vcpkg_installed/
third_party/ChampSim/.csconfig/
work/pin/
work/tracer_v2_build/
work/spec2017/install/
work/new_captures/
work/new_traces/
traces/
*.champsimtrace*
*.o
*.so
*.aux
report/*.log
report/*.pdf
report/*.out
*.toc
*.synctex.gz
